/* Reset a pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Criação de variáveis */
:root {
    --bg-color: #CCC;
    --bg-menu: rgba(204, 204, 204, 0.836);
    --border: 2.5px solid #111;
    --link-color-hover: #EED;
}

/* Link animado */
.anim-link {
    display: inline-block;
    text-decoration: none;
}

.anim-link::after {
    content: '';
    display: block;
    width: 0;
    height: 0.2rem;
    background: var(--link-color-hover);
    transition: width .3s;
}

.anim-link:hover::after {
    width: 100%;
}

body {
    background-color: var(--bg-color);
}

body * {
    font-family: 'Roboto', sans-serif;
    color: #222;
}

/* Estilização dos links */
a {
    text-decoration: none;
    font-size: 1.35rem;
    font-weight: bolder;
}

a:hover {
    color: var(--link-color-hover);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 12vh;
    padding: .5rem;

    background: rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: var(--border);
}

button#btn-mobile {
    display: none;
}

ul#menu {
    list-style: none;
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    max-width: 75vw;
    margin: 7rem auto 0;
}

.grid {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 2.5rem;
}

.grid .coluna {
    display: flex;
    flex-direction: column;
}

.grid .coluna aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: var(--border);
    border-radius: 15px;
    padding: .7rem 1.3rem;
}

main .grid .coluna aside ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

main .grid .coluna aside ul li a:hover {
    color: var(--link-color-hover);
}

main .grid .coluna aside h2 {
    padding: 0.5rem 0.5rem 0;
}

footer {
    border-top: var(--border);
    text-align: center;
    padding: .8rem 0;
}

footer p {
    margin-bottom: 0;
}

@media (max-width: 520px) {
    .grid {
        grid-template-columns: 100% 0;
    }

    #aside {
        display: none;
    }

    ul#menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        position: absolute;
        width: 100%;
        height: 0;
        top: 84px;
        right: 0;
        z-index: 1000;

        background-color: var(--bg-menu);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        transition: .5s;
        visibility: hidden;
        overflow-y: hidden;
    }

    nav#nav.active #menu {
        height: 100vh;
        visibility: visible;
        overflow-y: auto;
    }

    a.anim-link {
        padding: 1rem 0;
        margin: 0 1rem;
        font-size: 1.75rem;
        font-weight: bolder;
    }

    button#btn-mobile {
        display: flex;
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 0.4rem;
        background: #DDD;
        cursor: pointer;
    }

    span#hamburguer {
        width: 20px;
        border-top: 2px solid;
    }

    span#hamburguer::after,
    span#hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
        transition: .3s;
        position: relative;
    }

    nav#nav.active #hamburguer {
        border-top-color: transparent;
    }

    nav#nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    nav#nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -6.1px;
    }
}