/* Reset da página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Criação de variáveis para guardar cores */
:root {
  --bg-color: #CCC;
  --bg-header-footer-color: #777;
  --text-color: #111;
  --link-color-hover: #EED;
  --border: 2px solid #111;
}

/* Corpo da página + fonte roboto */
body {
  background-color: var(--bg-color);
}

body * {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

/* Link hover animado */
.anim-link {
  display: inline-block;
  text-decoration: none;
}

.anim-link::after {
  content: '';
  display: block;
  width: 0;
  height: 0.2rem;
  background: var(--link-color-hover);
  transition: width .3s;
}

.anim-link:hover::after {
  width: 100%;
}

a.anim-link:hover {
  color: var(--link-color-hover);
}

/* Estilização da página categoria */
.container header,
.container footer {
  padding: 0.65rem;
}

/* Display flex para alinhar os flihos do container*/
.container {
  display: flex;
  flex-direction: column;
  gap: 8.25rem;
}

/* Display flex para alinhar os filhos do cabeçalho */
.container header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem .5rem;
  border-bottom: var(--border);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* Estilização do link administrador */
.container header .logo {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 999;
}

/* Alinhamento dos itens da lista */
.container header nav ul {
  list-style: none;
  width: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Estilização dos links */
.container header nav ul li a {
  text-decoration: none;
  color: var(--link-color);
  font-size: 1.2rem;
}

/* Estilização do main */
.container main {
  /* Display flex para alinhar as tag filhos */
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  /* Tamanhos */
  width: fit-content;
  margin: auto;
  border-radius: 1rem;
  /* Sombra + cor de fundo */
  box-shadow: 0 0 0.75rem var(--link-color);
  background-color: #888;
}

/* Estilização do h1 */
.container main h1 {
  font-size: 1.8rem;
  padding: 1.1rem 0.55rem 0.15rem;
}

/* Display flex para alinhar os links dentro do parágrafo */
.container main p {
  display: flex;
  gap: 0.6rem;
  padding: 1rem 1.8rem;
}

/* Estilização dos botões do main */
.btn {
  background-color: rgb(191, 116, 31);
  border-radius: 0.6rem;
  padding: 0.3rem 0.55rem;
  margin: auto;
  font-size: 1.1rem;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.02);
}

/* Display flex para alinhar os filhos do form*/
.container main form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.55rem 1.15rem;
}

/* Tamanho da fonte do label */
.container main form label {
  font-size: 1.4rem;
}

/* Margin acima para todos os label que vierem antes de um input(+) */
.container main form input+label {
  margin-top: 1rem;
}

/* Estilização da class .campo dos input */
.container main form .campo {
  border-radius: 0.6rem;
  padding: 0.25rem;
  font-size: 1.1rem;
}

/* Hover dos links */
.container main form .campo:focus {
  background-color: var(--bg-color);
}

/* Estilização do botão do form */
.container main form button {
  background-color: rgb(191, 116, 31);
  cursor: pointer;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.6rem;
  padding: 0.3rem 0.5rem;
  margin: 0 auto 0.4rem;
}

.container main form button:hover {
  transform: scale(1.02);
}

/* Estilização do rodapé da página */
.container footer {
  border-top: var(--border);
  padding: 0.65rem 0;
}

.container footer p {
  font-size: 1.2rem;
}