h1 {
  margin: 1rem 2.8rem;
}

table {
  width: 100%;
  padding: 1rem;
}

table thead tr {
  background-color: #CCC;
}

table td {
  text-align: center;
  background-color: #CCC;
}

table thead tr td {
  border: 0.08rem solid var(--text-color);
  font-size: 1.11rem;
}

table tbody tr td {
  border: 0.08rem solid #222;
  font-size: 1.1rem;
}

table tbody tr td a {
  text-decoration: none;
}

table tbody tr td a:hover {
  color: var(--link-color-hover);
}